<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>



<p>
  <strong>Picture:</strong>
  <%= @company.picture %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>


<br>
<b>Products</b>
<table>

  <thead>
    <tr>
      <th>Name</th>
      <th>Display</th>
      <th>Picture</th>
      <th>Camera</th>
      <th>Memory</th>
      <th>Features</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

<tbody>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.display %></td>
    <td><%= product.picture %></td>
    <td><%= product.camera %></td>
    <td><%= product.memory %></td>
    <td><%= product.features %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</tbody>
</table>
